<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773816514153-ftfi8gvn440u0lgqv0dj4vt88i1q5ebr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773816514153-ftfi8gvn440u0lgqv0dj4vt88i1q5ebr</string>
	<key>API_KEY</key>
	<string>AIzaSyC2_I1axEZHuojIyr0F_FYlvVW08wrjVg0</string>
	<key>GCM_SENDER_ID</key>
	<string>773816514153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chithian.FirebaseScheme-Prod</string>
	<key>PROJECT_ID</key>
	<string>fir-scheme</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-scheme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773816514153:ios:637c68b4b9a68622b1d4f8</string>
</dict>
</plist>